*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #4c6ff8;
    --secondary-color: #1D1D24;
    --background-color: #F8F8F8;
    --green-color: #999;
    --light-color: #fff;
    --section-padding: 120px;
}

body{
    font-family: 'Cairo', sans-serif;
}

a{
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin-bottom: 0 !important;
}