.faqs{
    width: 100%;
    padding: 230px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faqs .title{
    text-align: center;
    max-width: 600px;
    margin-bottom: 100px;
}
.faqs .question-container{
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.faqs .question-container h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    cursor: pointer;
}

.faqs .question-container h4 img{
    transition: 0.3s all;
}

.faqs .question-container .desc{
    overflow: hidden;
}

.faqs .question-container p{
    padding: 0 10px;
    font-size: 15px;
    color: var(--green-color);
    line-height: 1.6;
    margin-top: -100%;
    display: block;
    transition: 0.3s all;
}
.faqs .question-container.active p{
    margin-top: 0;
}

.faqs .question-container.active h4 img{
    transform: rotate(180deg);
}

.contact-p{
    margin-top: 20px;
    text-align: center;
    color: var(--green-color);
}

.contact-p a{
    color: var(--main-color);
    text-decoration: none;
}